1st ques

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

L.extend([200, 300])
print("After adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

L.sort()
print("Sorted in ascending order:", L)

L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

2nd ques

In [ ]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_index = scores.index(highest_score)
print("Highest score:", highest_score, "at index:", highest_index)

lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print("Lowest score:", lowest_score, "appears", lowest_count, "times")

reversed_scores = list(reversed(scores))
print("Reversed tuple as list:", reversed_scores)

specific_score = 76
if specific_score in scores:
    first_occurrence_index = scores.index(specific_score)
    print(f"Score {specific_score} is present at index {first_occurrence_index}.")
else:
    print(f"Score {specific_score} is not present in the tuple.")

Highest score: 92 at index: 5
Lowest score: 45 appears 2 times
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Score 76 is present at index 2.

3rd ques

In [ ]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
print("Count of odd numbers:", len(odd_numbers))

even_numbers = [num for num in random_numbers if num % 2 == 0]
print("Count of even numbers:", len(even_numbers))

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)]
print("Count of prime numbers:", len(prime_numbers))

Count of odd numbers: 48
Count of even numbers: 52
Count of prime numbers: 13

4th ques

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
print("Unique scores (union):", unique_scores)

common_scores = A.intersection(B)
print("Common scores (intersection):", common_scores)

exclusive_scores = A.symmetric_difference(B)
print("Exclusive scores (symmetric difference):", exclusive_scores)

is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print(f"A is subset of B: {is_subset}")
print(f"B is superset of A: {is_superset}")

X = int(input("Enter a score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A.")
else:
    print(f"Score {X} is not present in set A.")

Unique scores (union): {34, 45, 78, 23, 56, 90}
Common scores (intersection): {90, 78}
Exclusive scores (symmetric difference): {34, 45, 23, 56}
A is subset of B: False
B is superset of A: False
Enter a score to remove from set A: 56
Score 56 removed from set A.

5th ques

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}